body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body, html {
    height: 100%;
}

.bg {
    background-image: url("Images/health-care-clipart-health-care-professionals-clipart-1.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.providers {
}

.body-content {
    display: flex;
    justify-content: right;
    align-items: inherit;
}

.selectBox {
    width: 295px;
    height: 38px;
    padding: 0 0 0 9px;
}

select option {
    width: 255px;
}

.CitiesAutocomplete {
    list-style: none;
    background: #fbfbfb;
    border: 1px solid #5f5f5f !important;
    width: 350px !important;
    position: absolute;
    z-index: 10000;
    border-top: none;
    min-height: 25px;
    max-height: 250px;
    overflow: auto;
    cursor: pointer;
    padding: 4px 0;
}

    .CitiesAutocomplete li {
        padding: 2px 6px;
    }

        .CitiesAutocomplete li:hover {
            background-color: #9eeffe;
        }  