@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use the Daily Pain Journal application to keep track of your chronic pain condition(s) on a daily basis. Share these details with your doctor at your next visit for a more comprehensive approach to managing your pain.</p>
