@model List<PainClinic.Models.DailyPainJournal>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width= device-width" />
    <title>Pain Rating View</title>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">

        function callNewChart() {
            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "A Monthly Overview of Your Pain Outlook"
                },
                $.getJSON("")
                data: [
                    {
                        // Change type to "doughnut", "line", "splineArea", etc.
                        type: "bar",
                        dataPoints: [
                            { label: "Pain Rating", y: 1 },
                            { label: "Pain Location", y: 2},
                            { label: "Amount of Sleep", y: 3 },
                            { label: "Activity Level", y: 4 },
                            //{ label: "grape", y: 5 }
                        ]
                    }
                ]
            });
            chart.render();
        }
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <input type="button" id="btnPainRating" value="Pain Rating" />
    <input type="button" id="btnPainLocation" value="Pain Location" />
    <input type="button" id="btnAmountOfSleep" value="Amount of Sleep" />
    <input type="button" id="btnActivityLevel" value="Activity Level" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var $painRatingsResults = $('#pain-ratings');

            $("btnPainRating").click(function (callNewChart) {
                $.ajax({
                    method: 'get',
                    url: '/PatientDataViewModel/SearchPainRating/{id}',
                    dataType: 'json',
                    data: '{PainRating:' + $painRatingsResults + '}',
                    success: function (data)
                    {
                        $('window.onload.data.')
                    },
                    error: function (error)
                    {
                        alert(error)
                    }
                }),
            });


    </script>
</body>
</html>


        $(function () {
            var $painRatings = $('#pain-ratings');

            $.ajax({
                type: 'GET',
                url: '/PatientDataViewModel/SearchPainRating/{id}',
                success: function (painRatings) {
                    $.each(painRatings, function (i, painRating) {
                        $painRatings.append('<li>Pain Rating: ' + painRating.painRating + '<li>
    ');
    });
    },
    error: function () {
    alert('Uh oh, something went wrong!');
    }
    });
    });

